*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

/* Header */

header .top{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 1.5rem 0;
}

header .menuList{
    display: none;
}

header .fa-shopping-cart{
    display: none;
}

header .fa-bars{
    color: #C4C4C4;
    font-size: 2rem;
}

header .menuList li a{
    text-decoration: none;
    color: #F3F3F3;
    margin: 1rem;
}

header .bottom{
    align-items: center;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 512px;
    padding: 0 2rem 0;
}

header .bottom h1{
    color: #F3F3F3;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

header .bottom h1 span{
    color: #D01418;
}

header .bottom button{
    background-color: #D01418;
    border-radius: 4px;
    border: none;
    color: #F3F3F3;
    font-size: 1.5rem;
    height: 60px;
    width: 220px;
}

/* Main */

main{
    flex-grow: 1;
    background-color: #F3F3F3;
}

main .top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .top h2{
    font-size: 1.8rem;
    margin: 2rem;
    text-align: center;
}

main article{
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 322px;
    margin:0 1rem 2rem;
    width: 240px;
}

main article img{
    margin: 2rem;
}

main article hr{
    align-self: stretch;
}

main article .productDetails{
    margin: 1rem 0 1rem;
}

main .highlights{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .bottom{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .starProductList{
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main .bottom h2{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    text-align: center;
}

main .starProduct1, main .starProduct2{
    border-radius: 5px;
    background-size: cover;
    color: white;
    font-size: 1rem;
    height: 108px;
    margin:0 1rem 2rem;
    padding: 2.5rem 2rem 2.5rem;
    text-align: end;
    width: 288px;
}

main .starProduct1{
    background-image: url('../img/silla.png');
}

main .starProduct2{
    background-image: url('../img/computadora.png');
}



/* Footer */

footer .top{
    align-items: center;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 216px;
    padding: 0 1.5rem 0;
}

footer .bottom{
    background-color: #C4C4C4;
    height: 25px;
    padding: 0.2rem;
    text-align: center;
    font-size: 0.8rem;
}

footer .social p{
    font-size: 1.8rem;
    color: #C4C4C4;
    margin-bottom: 1rem;
}

footer .socialIcons{
    display: flex;
    justify-content: space-between;
}

footer .fab{
    font-size: 1.8rem;
}

footer .fa-twitter{
    color: #14AED0;
}

footer .fa-facebook-f{
    color: #1476D0;
}

footer .fa-instagram{
    color: #CE0CFF;
}

/* Desktops */

@media (min-width: 480px) {

    header .menuList{
        list-style: none;
        display: flex;
    }

    header .top .right{
        display: flex;
    }

    header .fa-shopping-cart{
        color: #D01418;
        display: initial;
        font-size: 1.5rem;
    }
    
    header .fa-bars{
        display: none;
    }
    header .bottom{
        background-repeat: no-repeat;
        background-size: cover;
    }

    main .starProductList{
        flex-direction: row;
    }

    footer .top{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4rem 0;
    }
}